<div class="site-blocks-cover overlay" style="background-image: url(images/hero.jpg);" data-aos="fade"
  id="home-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8 mt-lg-5 text-center">
        <h1 class="text-uppercase mb-5" data-aos="fade-up">We make games</h1>
      </div>
    </div>
  </div>
  <a href="#about-section" class="mouse smoothscroll">
    <span class="mouse-icon">
      <span class="mouse-wheel"></span>
    </span>
  </a>
</div>