<div class="site-section cta-big-image" id="space-termites-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h2 class="section-title mb-3">Maytap Games</h2>
      </div>
    </div>
    <div class="row border-bottom mb-5">
      <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
        <figure class="circle-bg">
          <img src="images/featured.jpg" alt="Image" class="img-fluid">
        </figure>
      </div>
      <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
        <div class="mb-4">
          <h3 class="h3 mb-4 text-black">Space Termites</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora cumque eligendi in nostrum labore
            omnis quaerat.</p>
        </div>
        <div class="mb-4">
          <ul class="list-unstyled ul-check success">
            <li>Officia quaerat eaque neque</li>
            <li>Possimus aut consequuntur incidunt</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipisicing elit</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-6">
            <p><a href="#"><img src="images/app-store-badge.jpg" class="img-fluid" alt=""></a></p>
          </div>
          <div class="col-6">
            <p><a href="#"><img src="images/google-play-badge.png" class="img-fluid" alt=""></a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
        <img src="images/coming_soon.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
        <div class="mb-4">
          <h3 class="h3 mb-4 text-black">Coming Soon</h3>
        </div>
      </div>
    </div>
  </div>
</div>